@model PaginatedList<Order>

<div class="card shadow border-0 mt-3">
	<div class="card-body p-4">
		<table class="table table-bordered table-striped table-hover">
			<thead class="table-primary">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>PhoneNumber</th>
					<th>Email</th>
					<th>OrderStatus</th>
					<th>OrderTotal</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var Order in Model.Items)
				{
					<tr>
						<td>@Order.Id</td>
						<td>@Order.Name</td>
						<td>@Order.PhoneNumber</td>
						<td>@Order.ApplicationUser.Email</td>
						<td>@Order.OrderStatus</td>
						<td>@Order.OrderTotal.ToString("C")</td>
						<td>
							<a asp-action="Details" asp-area="Admin" asp-route-id="@Order.Id" class="btn btn-outline-primary btn-sm me-1">
								<i class="bi bi-pencil-square"></i> Edit
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

		<nav aria-label="Order pagination" class="mt-4">
			<ul class="pagination justify-content-center">
				<li class="page-item @(Model.HasPrev ? "" : "disabled")">
					<a class="page-link" href="@(Model.HasPrev? Url.Action("Index", "Order", new { area = "Admin", pageIndex = Model.PageIndex - 1, pageSize = Model.PageSize }) : "#")" data-page="@(Model.PageIndex - 1)" data-size="@Model.PageSize" @(Model.HasPrev ? "" : "aria-disabled='true'")>Previous</a>
				</li>
				@for (var i = 1; i <= Model.TotalPages; i++)
				{
					<li class="page-item @(i == Model.PageIndex ? "active" : "")">
						<a class="page-link" href="@Url.Action("Index", "Order", new { area = "Admin", pageIndex = i, pageSize = Model.PageSize })" data-page="@i" data-size="@Model.PageSize">@i</a>
					</li>
				}
				<li class="page-item @(Model.HasNext ? "" : "disabled")">
					<a class="page-link" href="@(Model.HasNext? Url.Action("Index", "Order", new { area = "Admin", pageIndex = Model.PageIndex + 1, pageSize = Model.PageSize }) : "#")" data-page="@(Model.PageIndex + 1)" data-size="@Model.PageSize" @(Model.HasNext ? "" : "aria-disabled='true'")>Next</a>
				</li>
			</ul>
		</nav>
	</div>
</div>